.grille {
  margin: 20px;
}

.ligne:after {
  clear: both;
  content: "";
  display: table;
}

.case {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.cmd {
  float: left;
  font-size: 18px;
  width: 34px;
}

.red {
  color: red
}

.left {
  border-left-width: 3px
}
.top {
  border-top-width: 3px
}
.right {
  border-right-width: 3px
}
.down {
  border-bottom-width: 3px
}

